:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #f823db, #0599c9);
    --vp-c-brand: #646cff;
    --vp-c-brand-light: #747bff;
}
